.intro {
  background: $body-background url("../img/backgroung-mobile.webp") no-repeat 50% 100%;
  height: 495px;
  padding: 266px 13px 0;
  background-size: cover;
  color: $white;
  position: relative;
  top: -25px;
  border-radius: 25px 25px 0 0;

  @media (min-resolution: 2dppx) {
    background-image: url("../img/backgroung-mobile@2x.webp");
  }

  @media (min-width: $tablet-width) {
    height: 907px;
    padding: 553px 49px 85px;
    background-image: url("../img/backgroung-tablet.webp");
    border-radius: 60px 60px 0 0;
    top: -44px;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/backgroung-tablet@2x.webp");
    }
  }

  @media (min-width: $desktop-width) {
    height: 960px;
    padding: 600px 100px 85px 100px;
    background-image: url("../img/backgroung-desktop.webp");
    top: -24px;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/backgroung-desktop@2x.webp");
    }
  }
}

.intro__title {
  @include indent-reset;
  margin-bottom: 20px;
  font-size: 20px;
  font-weight: 700;
  line-height: 24.4px;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    font-size: 38px;
    line-height: 46px;
    margin-bottom: 40px;
  }

  @media (min-width: $desktop-width) {
    font-size: 42px;
    line-height: 51px;
  }
}

.intro__description {
  margin-bottom: 19px;
  max-width: 293px;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 40px;
    max-width: 447px;
  }

  @media (min-width: $desktop-width) {
    max-width: 100%;
    margin-bottom: 38px;
  }
}

.intro__button {
  display: inline-block;
}
