.main-header {
  background-color: $body-background;
  padding: 13px 16px 35px;
  min-height: 96px;

  &--nojs {
    height: auto;
  }

  @media (min-width: $tablet-width) {
    min-height: 141px;
    height: auto;
    padding: 30px 16px 70px;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    padding: 28px 101px 35px;
  }
}

.main-header--nojs .main-nav__toggle {
  display: none;
}

.main-header--nojs .main-nav {
  position: static;
}

.main-header--nojs .main-nav__wrapper, .main-header--nojs .main-nav--closed .main-nav__wrapper {
  position: static;
  display: block;
  width: auto;
  height: auto;
}

@media (max-width: ($tablet-width - 1px)) {
  .main-header--nojs .main-nav--closed .main-nav__list {
    display: block;
  }
}

.main-header__logo {
  position: absolute;
  top: 13px;
  right: 16px;
  z-index: 3;

  @media (min-width: $tablet-width) {
    position: absolute;
    top: 30px;
    left: 23%;
    width: 156px;
    height: 60px;
    z-index: 1;

    & img {
      width: 100%;
    }
  }

  @media (min-width: $desktop-width) {
    order: -1;
    position: static;
    margin-right: 75px;
  }
}
