$black: rgba(23, 23, 23, 1);
$body-background: rgba(19, 19, 19, 1);
$white: rgba(255, 255, 255, 1);
$gold: rgba(194, 171, 129, 1);

$font-family-montserrat: "Montserrat";
$font-family-mulish: "Mulish";

$mobile-width: 360px;
$tablet-width: 768px;
$desktop-width: 1200px;
